YAMLCheckerWin.exe
YAMLCheckerWin.exe.config
YAMLCheckerWin.pdb
YamlDotNet.dll
YamlDotNet.xml
.NETFramework,Version=v4.5.AssemblyAttributes.cs
YamlChecker.csproj.CopyComplete
YamlChecker.csproj.CoreCompileInputs.cache
YamlChecker.csproj.FileListAbsolute.txt
YamlChecker.csprojAssemblyReference.cache
